.notas__body {
  font-family: "Roboto", sans-serif;
  display: flex;
  height: 100vh;
  background: rgb(13, 86, 111);
  background: radial-gradient(
    circle,
    rgba(13, 86, 111, 0.9164040616246498) 0%,
    rgba(7, 2, 62, 1) 100%
  );
}

.notas__central {
  display: flex;
  margin: auto;
  justify-content: center;

  width: 100%;
}

.notes__card {
  color: #fff;
  width: 90%;
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 400px;
}

.notas__edit {
  margin-left: 50px;
}
