.notes__body {
  height: 100vh;
  background: rgb(13, 86, 111);
  background: radial-gradient(
    circle,
    rgba(13, 86, 111, 0.9164040616246498) 0%,
    rgba(2, 6, 62, 0.7511379551820728) 100%
  );
}

.notes__subBody {
  display: flex;
  justify-content: space-between;
}

.notes__notas {
  width: 100%;
}

.notes__add {
  position: absolute;
  border-radius: 50%;
  right: 40px;
  bottom: 50px;
}
.notes__add:hover {
  box-shadow: 0 0 5px 1px white;
}

/* ------ Desde aqui es login notas ---------- */
.notes__bodyNew {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: rgb(13, 86, 111);
  background: radial-gradient(
    circle,
    rgba(13, 86, 111, 0.9164040616246498) 0%,
    rgba(2, 6, 62, 1) 100%
  );
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.notes__form {
  display: flex;
  background-color: rgb(22, 20, 34);
  flex-direction: column;
  border-radius: 15px;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 3em 3em;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
  text-align: center;
}

.notes__label {
  margin-top: 25px;
}

.notes__input {
  margin-top: 10px;
  height: 40px;
  padding: 5%;
  border-radius: 5px;
  border: none;
}

.notes__textArea {
  resize: none;
  margin-top: 10px;
  height: 100px;
  padding: 5%;
  border-radius: 5px;
  border: none;
}

.notes__btn {
  margin-top: 25px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  background: rgb(8, 92, 26);
}

.notes__btn:hover{
    background: rgb(5, 56, 16);
    
}

.notes__atras{
    position: absolute;
    top: 15px;
    left: 15px
}
