.notes__body {
  font-family: 'Roboto', sans-serif;
  background: rgb(13, 86, 111);
  background: radial-gradient(
    circle,
    rgba(13, 86, 111, 0.9164040616246498) 0%,
    rgba(2, 6, 62, 0.7511379551820728) 100%
  );
}

.notes__ {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notes__title {
  font-size: 45px;
}

.notes__subBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}
.notes__card {
  color: #fff;
  margin: 1rem;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}
.notes__card:hover,
.notes__card:focus,
.notescard:active {
  color: #0070f3;
  border-color: #000;
  box-shadow: 0 0 5px 1px #000;
}

.notes__options{
  /* border: 1px solid red; */
  display: flex;
}

.notes__add {
  position: fixed;
  border-radius: 50%;
  right: 25px;
  top: 87%;
}

.notes__add:hover {
  box-shadow: 0 0 5px 1px white;
}

/* ------ Desde aqui es login notas ---------- */
.notes__bodyNew {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: rgb(13, 86, 111);
  background: radial-gradient(
    circle,
    rgba(13, 86, 111, 0.9164040616246498) 0%,
    rgba(2, 6, 62, 1) 100%
  );
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.notes__form {
  display: flex;
  background-color: rgb(22, 20, 34);
  flex-direction: column;
  border-radius: 15px;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 3em 3em;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
  text-align: center;
}

.notes__label {
  margin-top: 25px;
}

.notes__input {
  margin-top: 10px;
  height: 40px;
  padding: 5%;
  border-radius: 5px;
  border: none;
}

.notes__textArea {
  resize: none;
  margin-top: 10px;
  height: 100px;
  padding: 5%;
  border-radius: 5px;
  border: none;
}

.notes__btn {
  margin-top: 25px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  background: rgb(8, 92, 26);
}

.notes__btn:hover {
  background: rgb(5, 56, 16);
}

.notes__atras {
  position: absolute;
  top: 15px;
  left: 15px;
}

.notes__actualizar {
  position: absolute;
  border-radius: 50%;
  left: 10px;
  top: 10px;
}

@media (max-width: 600px) {
  .notes__subBody {
    width: 100%;
    flex-direction: column;
  }
}

