.notes__header {
  width: 100%;
  justify-content: flex-end;
  display: flex;
  position: relative;
  
}

.header__profile {
  margin: 1%;
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 50%;
  max-width: 50px;
  
}

.header__input:checked + .header__menu {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  right: 5px;
  margin-top: 42px;
  display: inline-flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px blue;
}

.header__menu {
  position: fixed;
  right: 5px;
  padding: 15px;
  height: 300px;
  display: none;
  
}

.notes__changePhoto {
  justify-content: center;
  display: flex;
  margin-top: 10px;
  height: 120px;
}

.notes__subChangePhoto {
  margin: auto;
}

.notes__dates {
  justify-content: center;
  display: inline-flex;
}

.notes__subDates {
  margin: auto;
}

.notes__content {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.notes__content:after {
  content: "";
  display: block;
  background: #fff;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.5s;
}
.notes__content:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.notes__btnLog {
  width: 100%;
  margin: auto;
  max-width: 200px;
  display: flex;
  justify-content: center;
}

.notes__btnLog button {
  font-size: 15px;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  border: none;
  background: none;
  border: 2px solid white;
  color: #fff;
}
.notes__btnLog button:hover {
  box-shadow: 0 0 5px 1px red;
}

/* .notes__body {
  height: 100vh;
  background: rgb(13, 86, 111);
  background: radial-gradient(
    circle,
    rgba(13, 86, 111, 0.9164040616246498) 0%,
    rgba(2, 6, 62, 0.7511379551820728) 100%
  );
} */

